<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Codepeak_Core::core" title="Codepeak" module="Codepeak_Core" sortOrder="68" resource="Codepeak_Core::core"/>
		<add id="Codepeak_Core::general" title="Codepeak" module="Codepeak_Core" sortOrder="9999" parent="Codepeak_Core::core" resource="Codepeak_Core::general"/>
		<add id="Codepeak_Core::about" title="About" module="Codepeak_Core" sortOrder="9999" parent="Codepeak_Core::general" action="admin/system_config/edit/section/codepeakcore" resource="Codepeak_Core::general" />
	</menu>
</config>
